/*----- LINKS -----*/
.container__lista {
    margin: 5rem 0;
}

.dark,
.container__link {
    align-items: center;
    animation: gradientEffect 4s linear infinite alternate;
    background-image: var(--box-link);
    background-size: 200% 200%;
    border-radius: 6px;
    color: var(--link);

    display: flex;
    filter: brightness(0.8);
    font-size: 2rem;

    gap: 2rem;
    height: 6rem;
    justify-content: center;

    margin-bottom: 2rem;
    transition: background 400ms;
    width: 100%;
    
}

.container__link:hover {
    filter: brightness(1.3);
    transform: scale(1.1);
}

@keyframes gradientEffect {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.container__link .fa-brands {
    font-size: 3rem;
}