/*----- FOTO -----*/

.container__imagem {
    max-width: 10rem;
    position: relative;
    margin: 2rem auto 0;
}

.container__imagem::before {
    animation: spinner 5s linear infinite;

    border: 4px solid transparent;
    border-bottom-color: #fa0456;
    border-radius: 50%;
    border-top-color: #4affde;

    content: '';
    inset: -1rem;
    position: absolute;
    z-index: -1;
}

.container__foto {
    width: 100%;
    display: block;
    border-radius: 50%;

}

.container__foto:hover {
    filter: grayscale(100%);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}